{{ define "header" }}

{{ partial "blog/header.html" . }}

{{ end }}

{{ define "main" }}

  <section>
    <div class="pt-5 container">
      <div class="row">
        <div class="col">
          {{ range .Paginator.Pages }}
            <article class="pb-5">
              {{ range .Params.tags }}
                <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}" class="mb-3 mr-2 text-base badge badge-primary">{{ . }}</a>
              {{ end }}
              <a class="no-underline" href="{{ .Permalink }}">
                <h2 class="text-black">{{ .Title }}</h2>
                <div class="text-grey text-sm">{{ .Date.Format "January 2, 2006" }}</div>
                <div class="pt-2">Read Article</div>
              </a>
            </article>
          {{ end }}

          {{ template "_internal/pagination.html" . }}
        </div>
      </div>
    </div>
  </section>

{{ end }}
