{{ define "header" }}

{{ partial "blog/header.html" . }}

{{ end }}

{{ define "main" }}

<section>
  <div class="py-5 container">

    <div class="row">
      <div class="col-lg-2">
        <a class="pb-3 font-bold text-black" href="{{ .Params.author_url }}">{{ .Params.author }}</a>
        <div class="text-grey-dark">{{ .Params.author_title }}</div>
        <a class="text-grey-dark" href="{{ .Params.affiliation_url }}">{{ .Params.affiliation }}</a>
        <div class="py-4 text-grey text-sm">{{ .Date.Format "January 2, 2006" }}</div>
      </div>
      <div class="col-lg-10">

        <article>
          <h1 class="pb-4">{{ .Title }}</h1>
          {{ .Content }}
        </article>

        <p class="mt-5 smev-section__description">Are you a current SME DFW member? Want to write an article for this blog? <a href="{{ .Site.Params.external.feedback_form_url }}">Contact Us</a></p>

      </div>
    </div> <!-- .row -->

  </div>
</section>

{{ end }}
