<!doctype html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
  <head>
    {{ block "meta" . }}{{ partial "site/meta.html" . }}{{ end }}

    <title>{{ block "title" . }}{{- with .Title }}{{ . }} | {{ end }}{{ .Site.Title -}}{{ end }}</title>

    {{ range .AlternativeOutputFormats }}
        <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
    {{ end }}

    {{ partial "site/scripts.html" . }}

    {{ block "bottom-scripts" . }}{{ end }}
  </head>
  <body>

    <main>
      {{ block "main" . }}{{ end }}
    </main>
  </body>
</html>
