{{ define "main" }}

<div class="w-100 d-flex smev-home-hero__wrapper">
  <video
    class="smev-home-hero__video"
    playsinline=""
    width="100%"
    height="100%"
    preload="true"
    autoplay="autoplay"
    loop="loop"
    muted=""
    defaultMuted
  >
    <source height="100%" width="100%" src="{{ .Site.BaseURL }}dallas_bridge_night.mp4" type="video/mp4" />
  </video>
  <div class="px-5 smev-home-hero__content">
    <a href="{{ .Site.BaseURL }}">
      <img
        class="smev-home-hero__logo"
        src="{{ .Site.BaseURL }}smedfw_logo_bg_white_fg_color.svg"
        alt="{{ .Site.Title }}"
      />
    </a>
  </div>
</div>
<!-- hero -->

<div class="mx-auto smev-home-hero__arrow"><i class="fas fa-arrow-down"></i></div>

<section class="smev-section smev-section-resources">
  <div class="pt-5 container">
    <div class="row">
      <div class="col">
        <div class="smev-section__text smev-section-resources__text">
          <h2 class="mb-3 smev-section__heading smev-section-resources__heading">Chapter Resources</h2>
          <p class="mb-5 smev-section__description smev-section-resources__description">
            SME DFW Chapter works to engage, educate and provide collaborative opportunities for manufacturing students
            and professionals in the Dallas-Fort Worth area.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <a href="{{ .Site.Params.external.meetup_group_url }}" class="d-flex pb-5 smev-resources">
          <div class="pr-4">
            <img class="smev-resources__icon" src="{{ .Site.BaseURL }}events_icon_white.svg" alt="Events" />
          </div>
          <div class="smev-resources__content">
            <h3 class="mb-2">Events</h3>
            <p class="mb-1 smev-resources__description">Join the chapter Meetup Group to check out upcoming events.</p>
          </div>
        </a>
      </div>

      <div class="col-md-6">
        <a href="{{ .Site.Params.external.youtube_channel_url }}" class="d-flex pb-5 smev-resources">
          <div class="pr-4">
            <img class="smev-resources__icon" src="{{ .Site.BaseURL }}stream_icon_white.svg" alt="YouTube Channel" />
          </div>
          <div class="smev-resources__content">
            <h3 class="mb-2">YouTube Channel</h3>
            <p class="mb-1 smev-resources__description">
              We have partnered with the <strong>SME Virtual Network</strong> to broadcast chapter events. Subscribe
              today!
            </p>
          </div>
        </a>
      </div>

      <div class="col-md-6">
        <a href="{{ .Site.Params.external.subreddit_url }}" class="d-flex pb-5 smev-resources">
          <div class="pr-4">
            <img class="smev-resources__icon" src="{{ .Site.BaseURL }}blog_icon_white.svg" alt="Discussion and Help" />
          </div>
          <div class="smev-resources__content">
            <h3 class="mb-2">Discussion and Help</h3>
            <p class="mb-1 smev-resources__description">
              Get the latest news, announcements and accomplishments about your chapter. Discuss local manufacturing
              topics and provide chapter feedback.
            </p>
          </div>
        </a>
      </div>

      <div class="col-md-6">
        <a href="{{ .Site.Params.external.feedback_form_url }}" class="d-flex pb-5 smev-resources">
          <div class="pr-4">
            <img class="smev-resources__icon" src="{{ .Site.BaseURL }}contact_icon_white.svg" alt="Contact Us" />
          </div>
          <div class="smev-resources__content">
            <h3 class="mb-2">Contact Us</h3>
            <p class="mb-1 smev-resources__description">
              Feedback? Event topic suggestions? Questions? Get in touch with us here!
            </p>
          </div>
        </a>
      </div>
    </div>
    <!-- .row -->
  </div>
</section>

<section class="smev-section smev-section-sponsors">
  <div class="pt-5 container">
    <div class="row">
      <div class="col">
        <div class="smev-section__text smev-section-sponsors__text">
          <h2 class="mb-3 smev-section__heading smev-section-sponsors__heading">Sponsors</h2>
          <p class="mb-5 smev-section__description smev-section-sponsors__description">
            Our sponsors are dedicated to helping the chapter support and improve the manufacturing ecosystem within the
            Dallas-Fort Worth area.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col"><h3 class="mb-4">Financial Sponsors</h3></div>
    </div>

    <div class="row">
      {{ range $.Site.Params.financial_sponsors }}
      <div class="col-md-4">
        <div class="d-flex pb-5">
          <div>
            <a href="{{ .url }}">
              <img class="w-100" src="{{ .Site.BaseURL }}{{ .logo_filename }}" alt="{{ .name }}" />
            </a>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
    <!-- .row -->

    <div class="row">
      <div class="col">
        <h3 class="mb-4">Venue Sponsors</h3>
        <p class="mb-4 smev-section__description">
          Interested in opening your doors to our chapter for events, training workshops or plant tours?
          <a href="{{ .Site.Params.external.venue_sponsor_form_url }}">Start Here</a>
        </p>
      </div>
    </div>

    <div class="row">
      {{ range $.Site.Params.venue_sponsors }}
      <div class="col-md-4">
        <div class="d-flex pb-5">
          <div>
            <a href="{{ .url }}">
              <img class="w-100" src="{{ .Site.BaseURL }}{{ .logo_filename }}" alt="{{ .name }}" />
            </a>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
    <!-- .row -->
  </div>
</section>

<section class="smev-section smev-section-leadership">
  <div class="pt-5 container">
    <div class="row">
      <div class="col">
        <div class="smev-section__text smev-section-leadership__text">
          <h2 class="mb-5 smev-section__heading smev-section-leadership__heading">Committee Members</h2>
        </div>
      </div>
    </div>

    <div class="row">
      {{ range $.Site.Params.leaders }}
      <div class="col-md-6">
        <div class="d-flex pb-5 smev-leader-profile">
          <div class="pr-4">
            <a href="{{ .info_url }}">
              <img
                class="smev-photo--profile"
                src="{{ .Site.BaseURL }}{{ .profile_picture_filename }}"
                alt="{{ .name }}"
              />
            </a>
          </div>
          <div class="smev-leader-profile__text-container">
            <h3 class="mb-2">{{ .name }}</h3>
            <p class="mb-1 smev-leader-profile__title">{{ .title }}</p>
            <p class="mb-0 smev-leader-profile__company">
              <a href="{{ .company_url }}">{{ .company_name }}</a>
            </p>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>

{{.Content}}

{{ end }}
