{{ define "bottom-scripts" }}

{{ end }}

{{ define "main" }}

<section>
  <div class="smev--container smev--pt--layout--5 smev--pb--layout--3">
    <a href="{{ .Site.Params.external.smevirtual_homepage_url }}">
      <img class="smev--header__logo" src="logo--15x--light.svg" alt="{{ .Site.Title }}" />
    </a>
    <h1 class="smev--section-header__light smev--py--layout--3">The SME DFW Chapter has merged with the SME Virtual Network!</h1>
    <ul class="smev--links-list">
      <li>
        <a href="{{ .Site.Params.external.smevirtual_homepage_url }}">Visit the SME Virtual Network homepage</a>
      </li>
    </ul>
  </div>
</section>

{{.Content}}

{{ end }}
