<header class="smev-header" role="banner">
  <nav class="py-0 navbar navbar-expand-lg navbar-light smev-bg--light">
    <a class="mr-5 navbar-brand" href="{{ .Site.BaseURL }}">
      <img class="smev-header__logo" src="{{ .Site.BaseURL }}smedfw_logo_bg_transparent_fg_black.svg" alt="{{ .Site.Title }}" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="py-4 collapse navbar-collapse" id="navbar-collapse">
      <div class="ml-auto">
        <a class="btn smev-button--primary" href="{{ .Site.Params.external.meetup_group_url }}">Events</a>
        <a class="btn smev-button--outline-primary" href="{{ .Site.Params.external.feedback_form_url }}">Feedback</a>
      </div>
    </div>
  </nav>

  <div class="bg-blue-darkest">
    <div class="py-5 container">
      <div class="row">
        <div class="col">
          <a class="font-bold text-5xl text-white no-underline" href="{{ .Site.BaseURL }}blog">
            <img class="mr-4 smev-resources__icon" src="{{ .Site.BaseURL }}blog_icon_white.svg" alt="YouTube Channel">
            <span>Blog</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
