<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#0c3352">
  <meta name="description" content="Official homepage for the SME Dallas-Fort Worth (DFW) Chapter.">
  <meta name="robots" content="index,follow">
  <meta name="googlebot" content="index,follow">
  <meta name="google" content="nositelinkssearchbox">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <title>SME DFW Chapter | Homepage</title>
  <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
  <% } %>
</head>
<body>
<!-- TODO: Add content here. -->
</body>
</html>
