// Copyright 2019 SME Texaplex Virtual Chapter Contributors. All Rights Reserved.
// Copyright 2018 SME Virtual Network Contributors. All Rights Reserved.
// See LICENSE in the repository root for license information.
// =============================================================================

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
